<%= render 'static_pages/jumbotron' %>

<ul>
    <li><h2><%= link_to 'Tema le formulaire', '/static_pages/_form' %></h2></li>
    <li><h2><%= link_to 'Tema le footer', '/static_pages/_footer' %></h2></li>
    <li><h2><%= link_to 'Tema cette navbar', '/static_pages/_navbar' %></h2></li>
</ul>


