.footer {
  --bs-footer-padding-x: 0;
  --bs-footer-padding-y: 0.5rem;
  --bs-footer-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-footer-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-footer-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-footer-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-footer-brand-padding-y: 0.3125rem;
  --bs-footer-brand-margin-end: 1rem;
  --bs-footer-brand-font-size: 1.25rem;
  --bs-footer-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-footer-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-footer-foot-link-padding-x: 0.5rem;
  --bs-footer-toggler-padding-y: 0.25rem;
  --bs-footer-toggler-padding-x: 0.75rem;
  --bs-footer-toggler-font-size: 1.25rem;
  --bs-footer-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2850, 251, 226, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-footer-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-footer-toggler-border-radius: var(--bs-border-radius);
  --bs-footer-toggler-focus-width: 0.25rem;
  --bs-footer-toggler-transition: box-shadow 0.15s ease-in-out;
  left: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-footer-padding-y) var(--bs-footer-padding-x);
  font-size: small;
  margin-top: auto !important;
  bottom: 0 !important;
  width: 100% !important;
}


.foot {
  --bs-foot-link-padding-x: 1rem;
  --bs-foot-link-padding-y: 0.5rem;
  --bs-foot-link-font-weight: ;
  --bs-foot-link-color: var(--bs-link-color);
  --bs-foot-link-hover-color: var(--bs-link-hover-color);
  --bs-foot-link-disabled-color: rgba(50, 251, 226, 0.3);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.foot-link {
  display: block;
  padding: var(--bs-foot-link-padding-y) var(--bs-foot-link-padding-x);
  font-size: var(--bs-foot-link-font-size);
  font-weight: var(--bs-foot-link-font-weight);
  color: var(--bs-foot-link-color);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .foot-link {
    transition: none;
  }
}
.foot-link:hover, .foot-link:focus {
  color: var(--bs-foot-link-hover-color);
}
.foot-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.25);
}
.foot-link.disabled, .foot-link:disabled {
  color: var(--bs-foot-link-disabled-color);
  pointer-events: none;
  cursor: default;
}

.foot-tabs {
  --bs-foot-tabs-border-width: var(--bs-border-width);
  --bs-foot-tabs-border-color: var(--bs-border-color);
  --bs-foot-tabs-border-radius: var(--bs-border-radius);
  --bs-foot-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
  --bs-foot-tabs-link-active-color: #ea39b8;
  --bs-foot-tabs-link-active-bg: var(--bs-body-bg);
  --bs-foot-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
  border-bottom: var(--bs-foot-tabs-border-width) solid var(--bs-foot-tabs-border-color);
}
.foot-tabs .foot-link {
  margin-bottom: calc(-1 * var(--bs-foot-tabs-border-width));
  border: var(--bs-foot-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-foot-tabs-border-radius);
  border-top-right-radius: var(--bs-foot-tabs-border-radius);
}
.foot-tabs .foot-link:hover, .foot-tabs .foot-link:focus {
  isolation: isolate;
  border-color: var(--bs-foot-tabs-link-hover-border-color);
}
.foot-tabs .foot-link.active,
.foot-tabs .foot-item.show .foot-link {
  color: var(--bs-foot-tabs-link-active-color);
  background-color: var(--bs-foot-tabs-link-active-bg);
  border-color: var(--bs-foot-tabs-link-active-border-color);
}
.foot-tabs .dropdown-menu {
  margin-top: calc(-1 * var(--bs-foot-tabs-border-width));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.foot-pills {
  --bs-foot-pills-border-radius: var(--bs-border-radius);
  --bs-foot-pills-link-active-color: #fff;
  --bs-foot-pills-link-active-bg: #ea39b8;
}
.foot-pills .foot-link {
  border-radius: var(--bs-foot-pills-border-radius);
}
.foot-pills .foot-link.active,
.foot-pills .show > .foot-link {
  color: var(--bs-foot-pills-link-active-color);
  background-color: var(--bs-foot-pills-link-active-bg);
}

.foot-underline {
  --bs-foot-underline-gap: 1rem;
  --bs-foot-underline-border-width: 0.125rem;
  --bs-foot-underline-link-active-color: var(--bs-emphasis-color);
  gap: var(--bs-foot-underline-gap);
}
.foot-underline .foot-link {
  padding-right: 0;
  padding-left: 0;
  border-bottom: var(--bs-foot-underline-border-width) solid transparent;
}
.foot-underline .foot-link:hover, .foot-underline .foot-link:focus {
  border-bottom-color: currentcolor;
}
.foot-underline .foot-link.active,
.foot-underline .show > .foot-link {
  font-weight: 700;
  color: var(--bs-foot-underline-link-active-color);
  border-bottom-color: currentcolor;
}

.foot-fill > .foot-link,
.foot-fill .foot-item {
  flex: 1 1 auto;
  text-align: center;
}

.foot-justified > .foot-link,
.foot-justified .foot-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.foot-fill .foot-item .foot-link,
.foot-justified .foot-item .foot-link {
  width: 100%;
}